body{
    background-image: url(Fondo.jpg);
    height: 1200px;
    background-size: cover;
    background-position: center;

      width: 100%;
      font-family: Georgia, serif;
      
  }
  .menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #000000;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .menu {
      position: fixed; 
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      background-color: #333; 
      color: white;
      z-index: 1000; 
  }
    
    .menu li {
      float: left;
  
    }
    
   .menu li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      color: yellow;
    }
    .nav-list {
      list-style-type: none; 
      padding: 0;
      margin: 0;
      display: flex; 
      gap: 20px;
  }
  .logo1{
    width: 200px;
    height: auto;
  }
  
.trustus{

 margin-top: 120px;
 height: 300px;
 width: 400px;
 margin-left: 160px;
color: antiquewhite;
font-size: 60px;
}
.yellow{
font-size: 60px;
    color: yellow;
    margin-top: 0px;
    margin-bottom: 0px;
}

.mainimg{
    margin-top: -300px;
    width: 500px;
    height: 600px;
    margin-left: 650px;
}
.sizeimg{
    width: 600px;
    height: auto;
}
.numero{
    font-size: 70px;
    font-family: 'Roboto';
    margin-top: 0px;
    margin-bottom: 0px;
}
.faqbox{
  margin-left: 100px;
  margin-right: 100px;

    justify-content: center;
   align-items: center;
    width: 100%;

}
.faq{
    color:yellow;
    font-size: 40px;
}
.quest{
    color: rgb(211, 131, 27);
    font-size: 30px;
}
.aws{
    color: aliceblue;
    font-size: 20px
}
.download{
    margin-left: 200px;
    margin-top: -250px;
  
}
.textdown{
    color: aliceblue ;
    font-size: 30px;
    margin-left: 400px;
    margin-top: -140px;
    margin-bottom: 130px;

}